# Container Configuration
CONTAINER_PREFIX=your-project-name

# Database Configuration
DB_NAME=wordpress
DB_PASSWORD=your_secure_db_password
DB_USER=wordpress

# WordPress Configuration
WORDPRESS_VERSION=php8.3-apache

# MySQL Configuration
MYSQL_ROOT_PASSWORD=your_secure_root_password
MYSQL_PORT=3306
MYSQL_VERSION=8.4.2

# Project Configuration
PROJECT_NAME=your-project-name
WEB_PORT=6969

# Additional Services
MAILHOG_VERSION=latest
PHPMYADMIN_VERSION=5.2-apache
